$nav-height: 80px;
$responsive-width: 768px;

$white: #f8f6fd;
$off-white: #fafafa;
$font-color: #263238;
$grey: #494e50;
$main-box-shadow: rgba(241, 179, 195, 1) 5px 5px, rgba(241, 179, 195, 0.3) 10px 10px,
rgba(241, 179, 195, 0.2) 15px 15px, rgba(241, 179, 195, 0.1) 20px 20px,
rgba(241, 179, 195, 0.05) 25px 25px;
$main-box-shadow-mobile: rgba(241, 179, 195, 1) 0px 5px, rgba(241, 179, 195, 0.3) 0px 10px, rgba(241, 179, 195, 0.2) 0px 15px, rgba(241, 179, 195, 0.1) 0px 20px, rgba(241, 179, 195, 0.05) 0px 25px;
