$nav-height: 80px;
$responsive-width: 768px;

$white: var(--white);
$off-white: var(--off-white);
$font-color: var(--font-color);
$grey: var(--grey);
$black-rgb: var(--black-rgb);
$heading-bg: var(--heading-bg);
$image-filter: var(--image-filter);
