$nav-height: 80px;
$responsive-width: 768px;

$white: var(--white);
$off-white: var(--off-white);
$font-color: var(--font-color);
$grey: var(--grey);
$black-rgb: var(--black-rgb);
$main-box-shadow: var(--main-box-shadow);
$main-box-shadow-mobile: var(--main-box-shadow-mobile);
$heading-bg: var(--heading-bg);
